@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrow.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Narrow Bold";
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN PAGE ------------------------------------------------------------------------------------------------------- */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: "PT Sans Narrow Bold", Courier, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background: url("../img/bg.jpg") top center no-repeat fixed;
}

.inner-page {
  color: #000000;

  background-color: #ffffff;
  background: url("../img/bg-light.jpg") repeat top center;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.wrapper--inner {
  padding: 45px 10px;
}

.wrapper--main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper--footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 40px;
}

.wrapper--modal {
  padding: 50px 80px;
  width: 460px;

  box-sizing: border-box;
}

.button {
  display: inline-block;
  padding: 10px 0;
  width: 140px;

  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #000000;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

/* -- MAIN PAGE -> HEADER --*/
.page-header {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 70px;
}

.page-header__index-logo {
  align-self: center;
}

.main-nav {
  margin-bottom: 60px;
  background-color: #000000;
}

.inner-page .main-nav {
  margin: 0;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
}

.site-list a,
.user-list a {
  display: block;
  padding: 25px 20px;

  font-size: 16px;
  line-height: 20px;
}

.site-list-current {
  box-shadow: 0 -4px 0 #ffffff inset;
}

.user-list {
  display: flex;
}

.user-list .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: url("../img/login.svg");
  position: absolute;
  top: 52%;
  left: 24px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before {
  opacity: 1;
}

.site-list a:hover,
.site-list a:focus,
.user-list a:hover,
.user-list a:focus {
  background-color: #242424;
}

/* -- MAIN PAGE -> MAIN-- */
.main-content {
  flex-grow: 1;
}

.main-content h1 {
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.features {
  margin-bottom: 85px;
}

.features-list {
  display: flex;
  justify-content: space-between;

  text-align: center;
}

.features-list h3 {
  position: relative;
  margin-bottom: 60px;

  font-size: 30px;
  line-height: 42px;
}

.features-list h3::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 20px;
  height: 20px;

  transform: translateX(-50%) rotate(45deg);

  background-color: #ffffff;
}

.features-list p {
  margin: 0 15px;
}

/* -- MAIN PAGE -> ITEMS -- */
.main-content-items {
  display: flex;
  margin-bottom: 35px;

  color: #000000;

  background: url("../img/bg-light.jpg") repeat top center;
}

.main-content-items section {
  padding: 50px 0 50px 80px;
  width: 50%;
}

.main-content-items h2 {
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.main-content-items p {
  padding-right: 10px;
  margin-bottom: 25px;
}

/* -- NEWS -- */
.news,
.contacts {
  background: url("../img/median-strip.png") no-repeat right center;
}

.news-time {
  text-transform: none;
}

/* -- GALLERY -- */
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.gallery-item {
  margin-bottom: 27px;
  width: fit-content;

  border: 7px solid #ffffff;
}

.gallery-controls .button:last-child {
  margin-left: 20px;
}

/* -- CONTACTS -- */
.contacts .button {
  margin-right: 20px;
}

/* -- APPOINTMENT -- */
.appointment b {
  display: inline-block;
  margin-bottom: 10px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;

  width: 300px;
  justify-content: space-between;
}

.appointment-item {
  margin-bottom: 15px;
}

.appointment-item label {
  display: block;
  margin: 0 0 5px 15px;
}

.appointment-item input {
  width: 140px;
  padding: 8px 15px 7px;

  font: inherit;

  border: 2px solid black;
  background: transparent;
  box-sizing: border-box;
}

.appointment .button {
  width: 100%;
}

.appointment-item input:focus {
  border-color: #663d15;
}

/* -- FOOTER -- */
.page-footer {
  margin-top: auto;

  color: #ffffff;

  background-image: url("../img/bg-dark.jpg");

  box-shadow: 0 17px 13px rgba(0, 0, 0, 0.6) inset;
}

.page-footer a:hover,
.page-footer a:focus,
.page-footer a:active {
  color: purple;
  text-decoration: none;
}

.page-footer b {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

.page-footer-contacts a {
  text-decoration: underline;
}

.page-footer-social {
  padding-right: 165px;
}

.page-footer-social b {
  margin-bottom: 15px;
}

.page-footer-social-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 145px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;

  background-color: #000000;
  transition: 0.3s;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.page-footer-copyright a:hover,
.page-footer-copyright a:focus,
.page-footer-copyright a:active {
  color: #000000;
  background-color: #ffffff;
}

/* -- LOGIN -- */
.modal {
  display: none;
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);

  color: #000000;
  background-color: white;
  background: url("../img/bg-light.jpg") repeat top center;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
}

.modal-close {
  position: absolute;
  top: 0;
  right: -35px;
  width: 22px;
  height: 22px;

  border: none;
  cursor: pointer;
  background-color: transparent;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  left: 2px;
  width: 23px;
  height: 3px;

  background-color: #d0d0d0;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal h2 {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 42px;
}

.modal b {
  display: block;
  padding-bottom: 16px;
}

.login-form input {
  box-sizing: border-box;
  padding: 7px 16px;
  margin-bottom: 11px;

  font: inherit;
  text-transform: uppercase;

  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  padding-right: 40px;
  width: 300px;
}

.login-form input[type="text"] {
  background: url("../img/user.svg") 270px center no-repeat;
}

.login-form input[type="password"] {
  background: url("../img/lock.svg") 270px center no-repeat;
}

.remember {
  display: flex;
  justify-content: space-between;

  margin-bottom: 17px;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  border: 2px solid #000000;
}

.login-form-remember:checked + .checkbox-indicator::before,
.login-form-remember:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 2px;
  width: 16px;
  height: 2px;

  background-color: #000000;
}

.login-form-remember:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-form-remember:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.login-form a {
  text-decoration: underline;
  color: #000000;
}

/*-- MODAL MAP --*/
.modal-map {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;

  border: 7px solid #ffffff;
  box-shadow: 0 0 5px #000000;

  transform: translateX(-50%);
}

.modal-show {
  display: block;
}

/* -- SHOP -- */
.inner-page-logo {
  display: flex;
  padding-left: 20px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs span {
  color: #aba9a7;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 50%;
  right: -24px;
  width: 8px;
  height: 8px;
  transform: translateY(-50%) rotate(45deg);

  background-color: #000000;
}

.breadcrumbs li:last-child::after {
  display: none;
}

/* CATALOG -> FILTERS */
.catalog-content {
  display: flex;
}

.filters {
  width: 190px;
  margin-right: 70px;
}

.filters fieldset {
  margin-bottom: 23px;
}

.filters legend {
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 30px;
}

.filter-option {
  position: relative;
  padding-left: 40px;
  margin-bottom: 17px;

  line-height: 20px;
  cursor: pointer;
}

.filter-option label {
  position: relative;

  cursor: pointer;
  user-select: none;
}

.filter-option label:hover,
.filter-option label:focus {
  color: #663d15;
}

.filter-checkbox-indicator {
  content: "";
  position: absolute;
  top: 50%;
  left: -41px;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  border: 2px solid #000000;
}

/* checked checkbox */
.filter-input-checkbox:checked + span::before,
.filter-input-checkbox:checked + span::after {
  content: "";
  position: absolute;
  top: 46%;
  left: 2px;
  width: 16px;
  height: 2px;

  background-color: #000000;
}

.filter-input-checkbox:checked + span::before {
  transform: rotate(45deg);
}

.filter-input-checkbox:checked + span::after {
  transform: rotate(-45deg);
}

.filter-input-checkbox:checked ~ span {
  color: #663d15;
}

/* disabled checkbox */
.filter-input-checkbox:disabled + span {
  border: 2px solid #cbc9c7;
  cursor: auto;
}

.filter-input-checkbox:disabled + span::before,
.filter-input-checkbox:disabled + span::after {
  background-color: #cbc9c7;
}

.filter-input-checkbox:disabled ~ span {
  color: #cbc9c7;
  cursor: auto;
}

/* radio */
.filter-input-radio + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -41px;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.filter-input-radio:checked + span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -33px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;
}

.filter-input-radio:checked ~ span {
  color: #663d15;
}

/* disabled radio */
.filter-input-radio:disabled + span::before {
  border: 2px solid #cbc9c7;
  cursor: auto;
}

.filter-input-radio:disabled + span::after {
  background-color: #cbc9c7;
}

.filter-input-radio:disabled ~ span {
  color: #cbc9c7;
  cursor: auto;
}

/* -- CATALOG -> ITEMS -- */
.catalog-items-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.catalog-items-list li:nth-child(3n) {
  margin-right: 0;
}

.catalog-item {
  margin: 0 20px 20px 0;

  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item h3 {
  margin-bottom: 15px;
}

.catalog-item img {
  margin-bottom: 10px;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-category,
.catalog-item-title {
  display: block;
  padding-left: 16px;

  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.catalog-item-price .button {
  width: 78px;
}

.catalog-item-price > span {
  width: 109px;
  padding-top: 13px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;

  background-color: #c0c0c0;
}

.pagination-list {
  display: flex;
}

.pagination-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;

  color: #ffffff;
  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #663d15;
}

.pagination-item {
  margin-right: 7px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.pagination-item-current a {
  background-color: #cbc9c7;
  color: #000000;
  cursor: auto;
}

.pagination-item-current a:hover {
  background-color: #cbc9c7;
}

/* -- PRICE --------------------------------------------------------------------------------------------------------- */
.price-header {
  display: flex;
  align-items: center;
  margin-bottom: 65px;

  font-size: 48px;
  line-height: 60px;
}

.price-header:before,
.price-header:after {
  content: "";
  height: 2px;
  width: 50px;
  flex-grow: 1;

  background: #000000;
}

.price-header:before {
  margin-right: 26px;
}

.price-header:after {
  margin-left: 26px;
}

.makers-and-prices {
  display: flex;
  margin-bottom: 55px;
}

.makers-and-prices section {
  width: 50%;
}

.makers h2,
.prices h2 {
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 30px;
}

.makers-list li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
}

.makers-list li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  transform: translateY(-50%) rotate(45deg);

  background-color: #000000;
}

.prices-table {
  width: 100%;
}

.prices-table td {
  padding: 13px 17px;
  width: 50%;

  border: 2px solid #000000;
}

.prices-table td:last-child {
  text-align: center;
}

.about-us h2 {
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 30px;
}

.about-us-container {
  display: flex;
}

.about-us-container p {
  width: 50%;
  padding-right: 40px;
}

/* -- ITEM ---------------------------------------------------------------------------------------------------------*/
.item {
  display: flex;
}

.item-photos {
  display: flex;
  flex-wrap: wrap;
  margin-right: 80px;
}

.item-photos li {
  margin: 0 20px 20px 0;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-photos li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item-photos li:first-child,
.item-photos li:last-child {
  margin-right: 0;
}

.item-container {
  display: flex;
  flex-direction: column;
}

.item-description {
  padding-right: 20px;
  margin-bottom: 65px;
}

.item-description .catalog-item-price {
  justify-content: start;
}

.item-description p:last-child {
  margin-top: 40px;
}

.item-avaliable {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-left: 10px;
}

.item-avaliable-article {
  color: #aeaeae;
}

.item-content h3 {
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 30px;
}

.item-content-list li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.item-content-list li:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  transform: translateY(-50%) rotate(45deg);

  background-color: #000000;
}
